{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
      "mocha": true
    },
    "rules": {
      "comma-dangle": ["error", "only-multiline"],
      "eol-last": "off",
      "react/jsx-filename-extension": "off",
      "react/button-has-type": "off",
      "quotes": ["error", "double"],
      "import/prefer-default-export": "off"
    }
  }